<h1>Create a new user</h1>

<%= form_for @user do |f| %>
  Username <br>
  <%= f.text_field :username %>
  <br><br>
  Email <br>
  <%= f.text_field :email %>
  <br><br>
  <%= f.submit %>
<% end %>

<%= link_to "Login", new_session_path %>
